body {
    background-color: #070707;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 1.666em;
    line-height: 1.414;
}

button {
    margin: auto;
    width: 125px;
    height: 75px;
    align-items: center;
    vertical-align: middle;
    border-radius: 20px;
    font-size: x-large;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
